.logo {
    color: #0A1B32;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 160% */
    letter-spacing: -0.6px;
    margin-top: 37px;
    margin-left: 80px;
}
.logo_dot {
    color: #4F56F1;
}
header > div {
    display: inline-block;
}
section {
    display: inline-block;

}
#navContainer {
    display: inline-block;
}
header li  {
    display: inline;
    margin: 38px;
    list-style: none;
}
#nav1 {
    display: inline-block;
    color: #1B0A42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    display: inline;
    list-style: none;
    margin-top: 48px;
    margin-left: 273px;
}
#nav2 {
    position: absolute;
    right: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px; 
    display: inline;
    margin: 10px;
    list-style: none;
    margin-top: 30px;
    margin-left: 752px;
}
#SignIn {
    width: 120px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 6px;
    background: white;
    border: none;
}
#SignUp {
    width: 120px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #4F56F1;
    border: none;
    color: white;
}
.main_title {
    color: #1B0A42;
    max-width: 495px;
    width: 100%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Ramaraja', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 76px; /* 105.556% */
    letter-spacing: 1.44px;
    margin-top: 209px;
    margin-left: 200px;
}
.main_info {
    color: #9A9A9A;
    max-width: 538px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
    margin-top: 9px;
    margin-left: 200px;

}
.main_btn {
    color: #FFF;
    width: 152px;
    height: 64px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 200% */
    letter-spacing: 0.32px;
    border-radius: 6px;
    background-color: #4F56F1;
    margin-top: 50px;
    margin-left: 200px;
    border: none;
}
